.title-display-area {
    background: grey;
    width: 100%;
    height:100%;
    margin: 0 auto;
    border: 2px solid orange;
}

.title {
    background: lightcyan;
    border-radius: 3px;
    width: 90%;
}