.App {
  background: orange;
  text-align: center;
  
}

.display {
  background: lightgray;
  display: flex;
  flex-direction: row; 
  height: 350px;
}

.title-entry {
  width: 30%;
}

.note-to-display {
  width: 100%
}



