.title-display {
    background: lightgreen;
    width: 100%;
    border: 2px solid green;
    height: 30px;
    margin-top: 20px;
}

.note-display {
    background: lightgreen;
    border: 2px solid blue;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    
}

.note {
    width: 85%;
    margin: 0 auto;
}

.edit-button {
    background: darkcyan;
    width: 75px;
    height: 25px;
    border-radius: 3px;
    border: 0px;
    margin: 0 2.5px;
}



.delete-button {
    background: darkcyan;
    width: 75px;
    height: 25px;
    border-radius: 3px;
    border: 0px;
    margin: 0 2.5px;
}